<mat-card class="example-card">
  <h1 mat-dialog-title>Crowd Funding</h1>

  <div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Title of the Fund" />
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Description"></textarea>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Image - SONRA DEĞİŞECEK" />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Target Amount" type="number" class="example-left-align" />
      <span matPrefix>$&nbsp;</span>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Target Iban" />
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Deadline" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
</mat-card>
