<mat-toolbar class="mat-elevation-z8 navbar" role="heading">
  <mat-toolbar-row>
    <a mat-button routerLink="/" aria-label="baykuslar logo">
      <img class="logo" src="../../assets/images/owl.png" alt="baykuslar" />
    </a>

    <a mat-button class="raiseFund-button navbar-hide-small" routerLink="create-equity-funding">
      <mat-icon aria-label="Work icon">add_shopping_cart</mat-icon>
      <span i18n="@@equityFundingText">Fund Your Company</span>
    </a>
    <a mat-button class="raiseFund-button navbar-hide-small" routerLink="create-fundraiser">
      <mat-icon aria-label="Work icon">card_giftcard</mat-icon>
      <span i18n="@@fundraiserText">Raise Fund</span>
    </a>
    <!-- This fills the remaining space of the current row -->
    <span class="spacer"></span>

    <div *ngIf="(authService.currentUser$ | async) as user; else buttonCorner">
      <img
        class="user-avatar mat-elevation-z2"
        [matMenuTriggerFor]="userMenu"
        src="{{ user.image || './../../../assets/images/man.png' }}"
      />

      <mat-menu #userMenu="matMenu" [overlapTrigger]="false" xPosition="before">
        <button mat-menu-item i18n="@@myFundsButtonText">My Funds</button>
        <button mat-menu-item (click)="signOut()" i18n="@@signOutButtonText">Sign Out</button>
      </mat-menu>
    </div>

    <ng-template #buttonCorner>
      <a mat-button (click)="showSignIn()" i18n="@@signInButtonText">Sign In</a>
      <a mat-raised-button color="primary" (click)="showSignUp()"
        ><span class="white-text" i18n="@@signUpButtonText">Sign Up</span></a
      >
    </ng-template>
  </mat-toolbar-row>

  <mat-toolbar-row class="navbar-show-small second-row">
    <a mat-button class="raiseFund-button spacer" routerLink="create-equity-funding">
      <mat-icon aria-label="Work icon">add_shopping_cart</mat-icon>
      <span i18n="@@equityFundingText">Fund Your Company</span>
    </a>
    <a mat-button class="raiseFund-button spacer" routerLink="create-fundraiser">
      <mat-icon aria-label="Work icon">card_giftcard</mat-icon>
      <span i18n="@@fundraiserText">Raise Fund</span>
    </a>
  </mat-toolbar-row>
</mat-toolbar>
